header{
    background-color: rgb(161, 131, 76);
    color: rgb(238, 223, 195);


}


.cabecalho-imagem{ 

    width:40%;
}

.cabecalho{
background-color: rgb(122, 89, 45);
display: flex;
}
.cabecalho-lista-item{


}